/*  Look i know its a mess, please dont judge me for it      */
/*  we all know that css is human torture for backend devs   */
/*  i tried ok                                               */

@media only screen and (max-width: 768px) {
    
    * {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #wrapper {
        display: grid;
        grid-template-rows: 8.5vh repeat(4, 21.625vh) 5vh;
        grid-template-columns: 1vw repeat(3, 32.67vw) 1vw;
        grid-template-areas: 
        "hd hd hd hd hd"
        "s1 mn mn mn s2"
        "s1 mn mn mn s2"
        "s1 se se th s2"
        "s1 se se th s2"
        "bt bt bt bt bt";
    }

    body {
        background-color: #F5F5F5;
    }

    #RESPONSIVE {
        display: none;
    }


    /* NAVBAR SETTINGS */
    #navbar {
        display: block;
        width: 100vw;
    
        background-color: #339989;
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        color: #FFFAFB;
        text-decoration: none;
        font-family: 'Roboto' sans-serif;
    } 
    .navElement {
        display: block;
        float: right;
        padding: 1.75vh 1vw;
        font-size: 1.5vh;
    } 
    
    #name {
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 4vh;
        padding: 2vh 1vw;
    }
    
    #bottom {
        grid-area: bt;
    
        background-color: #339989;
        width: 100vw;
    }
    #copyright {
        display: flex;
        padding: 1.4vh 1vw;
        width: auto;
        position: absolute;
    }
    #hidden {
        position: absolute;
        display: none;
        margin: -1.2vh 9vw;
        padding: 0.3vh 0.5vw;
        background-color: #7DE2D1;
        border: 1px solid #212227;
        border-radius: 5px;
    }
    #copyright:hover + #hidden {
        display: block;
    }

    /* Content */
    .Content {
        border: thin solid black;
        border-radius: 0.5vw;
        background-color: #FFFFFF;
    }
    
    #main {
        grid-area: mn;
        margin: 1vh 1vw;
    }
    #main h2 {
        padding: 2vh 2vw;
        font-size: 7.5vw;
        font-family: 'Roboto' sans-serif;
        letter-spacing: 0.4vw;
    }
    #main p {
        font-family: 'Roboto' sans-serif;
        font-size: 4.8vw;
        padding: 0.6vh 1.5vw;
        line-height: 4.6vw;
    }
    
    #second {
        grid-area: se;
        margin: 1vh 1vw;
    }
    #second h2{
        padding: 1vh 2vw;
        font-size: 7vw;
        font-family: 'Roboto' sans-serif;
        letter-spacing: 0.2vw;
    }
    #second p{
        font-family: 'Roboto' sans-serif;
        padding: 0vh 2vw;
        font-size: 5vw;
        max-width: 60vw;
        letter-spacing: 0.1vw;
    }
    
    #third {
        grid-area: th;
        margin: 1vh 1vw;
        overflow: hidden;
    }
    #third img {
        width: 100%;
        height: auto;
        position: relative;
        padding: 3.5vh 0vw;
        
    }
    #third h2{
        display: none;
        padding: 2vh 2vw;
        font-size: 2.3vw;
        font-family: 'Roboto' sans-serif;
        letter-spacing: 0.2vw;
    
        /* display: inline-flex; */
        position: absolute;
    }
    #third p {
        display: none;
        padding: 7vh 2vw;
        position: absolute;
        letter-spacing: 0.1vw;
        font-size: 1.5vw;
        max-width: calc(100vw - 70vw);
    
        z-index: 10;
    }
}

@media only screen and (min-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    #wrapper {
        display: grid;
        grid-template-rows: 11vh repeat(4, 21vh) 5vh;
        grid-template-columns: 3vw repeat(6, 15.66vw) 3vw;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "s1 mn mn mn se se se s2"
        "s1 mn mn mn se se se s2"
        "s1 mn mn mn th th th s2"
        "s1 mn mn mn th th th s2"
        "bt bt bt bt bt bt bt bt";
    }
    
    body {
        background-color: #F5F5F5;
    }
    
    #RESPONSIVE {
        display: none;
    }
    
    /* NAVBAR SETTINGS */
    #navbar {
        display: block;
        width: 100vw;
    
        background-color: #339989;
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        color: #FFFAFB;
        text-decoration: none;
        font-family: 'Roboto' sans-serif;
    } 
    .navElement {
        display: block;
        float: right;
        padding: 1.75vh 1vw;
        font-size: 3vh;
    } 
    #name {
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 6vh;
        padding: 2vh 1vw;
    }
    
    #bottom {
        grid-area: bt;
    
        background-color: #339989;
        width: 100%;
    }
    #copyright {
        display: flex;
        padding: 1.4vh 1vw;
        width: auto;
        position: absolute;
    }
    #hidden {
        position: absolute;
        display: none;
        margin: -1.2vh 9vw;
        padding: 0.3vh 0.5vw;
        background-color: #7DE2D1;
        border: 1px solid #212227;
        border-radius: 5px;
    }
    #copyright:hover + #hidden {
        display: block;
    }
    
    /* Content */
    .Content {
        border: solid black;
        border-radius: 0.5vw;
        background-color: #FFFFFF;
    }
    
    #main {
        grid-area: mn;
        margin: 1vh 1vw;
    }
    #main h2 {
        padding: 2vh 2vw;
        font-size: 4vw;
        font-family: 'Roboto' sans-serif;
        letter-spacing: 0.4vw;
    }
    #main p {
        font-family: 'Roboto' sans-serif;
        font-size: 2.35vw;
        padding: 1vh 2vw;
        line-height: 3vw;
    }
    
    #second {
        grid-area: se;
        margin: 1vh 1vw;
    }
    #second h2{
        padding: 1vh 2vw;
        font-size: 2.3vw;
        font-family: 'Roboto' sans-serif;
        letter-spacing: 0.2vw;
    }
    #second p{
        padding: 0vh 2vw;
        font-size: 1.5vw;
        max-width: 30vw;
        letter-spacing: 0.1vw;
    }
    
    #third {
        grid-area: th;
        margin: 1vh 1vw;
        overflow: hidden;
    }
    #third img {
        float: right;
        height: auto;
        width: 26%;
        max-height: 95%;
        max-width: 95%;
        padding: 1vh 0.5vw;
        
        position: relative;
    }
    #third h2{
        padding: 2vh 2vw;
        font-size: 2.3vw;
        font-family: 'Roboto' sans-serif;
        letter-spacing: 0.2vw;
    
        display: inline-flex;
        position: absolute;
    }
    #third p {
        padding: 7vh 2vw;
        position: absolute;
        letter-spacing: 0.1vw;
        font-size: 1.5vw;
        max-width: calc(100vw - 70vw);
    
        z-index: 10;
    }

}