* {
    margin: 0;
    padding: 0;
}


#wrapper #navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #7DE2D1;
    width: 100%;
    position: fixed;
}

#wrapper #navBar li{
    float: left;
}

#wrapper #navBar li a{
    display: block;
    color: #FFFAFB;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-family: 'Roboto' sans-serif;
}

#wrapper #navBar li a:hover:not(.active){
    background-color: #2B2C28;
}

.active {
    background-color: #339989;
}