
/* add theme where it breaks color and font*/
:root {
    --main-bg-color: #222222;
    --secondary-bg-color: #444444;
    --main-text-color: #ffffff;

    --text-highlight-red: #bf616a;
    --text-highlight-orange: #d08770;
    --text-highlight-yellow: #ebcb8b;
    --text-highlight-green: #a3be8c;
    --text-highlight-blue: #81a1c1;
    --text-highlight-purple: #b48ead;

    font-family: 'Source Code Pro', monospace;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-transform: uppercase;
    
}

body {
    margin-top: 15vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}


/* Media Queries */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    :root {
        
    }

    .nav-bar {
        font-size: 5px;
    }

    main section {
        font-size: 8.5px;
        margin-bottom: 22px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .nav-bar-logo img {
        width: 10px;
    }
  }

/* Scroll-Bar (doesnt work with firefox)*/
body::-webkit-scrollbar {
    width: 0.25rem;
    background: var(--main-bg-color);
}

body::-webkit-scrollbar-track {
    background: var(--main-bg-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--main-bg-color);
}

/* Navbar / Header */
.nav-bar {
    overflow: hidden;
    background-color: var(--main-bg-color);
    padding: 10px 0;
    margin: auto;
    font-size: 18px;

    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    border-bottom: 1px var(--secondary-bg-color) dotted;
}

.nav-bar a {
    color: var(--main-text-color);
    text-align: center;
   
    margin-right: 0.5em;
    margin-left: 0.5em;
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration-line: underline;
}

.nav-bar-logo {
    float: left;
    font-weight: 900;
    margin-left: 15%;
}

.nav-bar-logo img {
    width: 23px;
}

.nav-bar-right {
    float: right;
    margin-right: 15%;
}

.nav-bar-right a {
    margin-right: 0.5 px;
    margin-left: 0.5 px;
}

.nav-bar-right p {
    font-size: 18px;
    display: inline;
    margin: 0;
    padding: 0;
}


/* Main */
main div {
    display: inline;
    line-height: 25px;
}

main section {
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.header {
    display: block;
    text-decoration-line: underline;
    font-size: larger;
    color: var(--text-highlight-blue);
    margin-bottom: 1vh;
}

.tag {
    color: var(--text-highlight-red);
}

.title {
    color: var(--text-highlight-green);
}

.paragraph-block {
    display: block;
}
