root {
	--text-colour: #011627;
}

* {
	margin: 0px;
	padding: 0px;
	user-select: none;
	font-size: 20px;
}

#noScript {
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-color: var(--text-colour,#011627);

	display: flex;
	align-items: flex-end;
}

#noScript p {
	font-family: "Cutive Mono", monospace;
	font-weight: 700;
	font-size: clamp(1em, 10em, 2vw);
	color: #02477d;

	margin: 5px;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	height: 100vh;
	z-index: 0;
}

#card {
	height: 2in;
	width: 3.5in;
	padding: 10px;

	background-color: rgba(153, 170, 181, 0.8);
	border-radius: 7px;

	text-align: center;
	font-family: "Cutive Mono", monospace;
	overflow: visible;

	color: var(--text-colour, #011627);
}

#card h1 {
	font-size: 2em;
}

#card p {
	font-size: 1.5em;
}

#socials {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5.5vh;
}

.fab {
	font-size: 1.5em;
	width: 50px;
	text-align: end;
	text-decoration: none;
	margin: 5px 2px;
	transition: 1s;
}
.fab:hover {
	opacity: 0.7;
}

.fas {
	font-size: 1.5em;
	width: 50px;
	text-align: end;
	text-decoration: none;
	margin: 5px 2px;
	transition: 1s;
}
.fas:hover {
	opacity: 0.7;
}

[class*="fa-"] {
	color: var(--text-colour, #011627);
	font-size: 1.8em;
}

#canvas1 {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

/* @media only screen and (max-width: 768px) {
	.fab {
		padding-top: 0.2in;
	}
	.fas {
		padding-top: 0.2in;
	}
	#socials {
		margin-top: 5.5vh;
	}
} */