* {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-rows: 7vh repeat(4, calc( (100vh - 7vh - 5vh)/4 )) 5vh ;
    grid-template-columns: 3vw 1fr 1fr 1fr 3vw;
    grid-template-areas:
    "hd hd hd hd hd"
    "1b mn mn se 2b"
    "1b mn mn se 2b"
    "1b mn mn se 2b"
    "1b mn mn se 2b"
    "bt bt bt bt bt";
}

body {
    background-color: #F5F5F5;
}

/* NAVBAR SETTINGS */
#navbar {
    grid-area: hd;
    background-color: #339989;
}
.navElement {
    display: block;
    float: right;
    padding: 1.75vh 1vw;
    font-size: 3vh;
}
ul#menu li a {
    color: #FFFAFB;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    transition: 500ms;
}
ul#menu li a:hover{
    background-color: #7DE2D1;
    transition: 400ms;
}
ul#menu li {
	display: inline;
}
ul#menu {
    height: 100%;
}
#name {
    float: left;
    font-size: 4vh;
    padding: 1.2vh 0.5vw;
}

/* Content */
#main {
    grid-area: mn;
    
}

#second {
    grid-area: se;
}
#second img {
    width: auto;
    height: 80%;
}