/*  Look i know its a mess, please dont judge me for it      */
/*  we all know that css is human torture for backend devs   */
/*  i tried ok                                               */


* {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-rows: 11vh repeat(4, calc( (100vh - 11vh - 5vh)/4 )) 5vh ;
    grid-template-columns: 3vw 1fr 1fr 1fr 3vw;
    grid-template-areas:
    "hd hd hd hd hd"
    "1b mn mn se 2b"
    "1b mn mn se 2b"
    "1b mn mn se 2b"
    "1b mn mn se 2b"
    "bt bt bt bt bt";
}

body {
    background-color: #F5F5F5;
}

/* NAVBAR SETTINGS */
#navbar {
    grid-area: hd;
    background-color: #339989;
}
ul#menu li {
	display: inline;
}

.navElement {
    display: block;
    float: right;
    padding: 1.75vh 1vw;
    font-size: 3vh;
} 

ul#menu li a {
    color: #FFFAFB;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
} 

#name {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 6vh;
    padding: 2vh 0.5vw;
}

/* Content */
#main {
    grid-area: mn;
    padding: 4vh 3vw;
}

#main h2 {
    font-size: 4vh;
    color: #212227;
    font-family: 'Roboto' sans-serif;
    letter-spacing: 4px;
}

#main p {
    font-size: 2vh;
    font-family: 'Roboto' sans-serif;
}

#second {
    grid-area: se;
}
#second img {
    width: auto;
    height: 80%;
}